# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [492]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_excel("candyhierarchy2017.xlsx")
df.head()

c:\Users\salama\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [493]:
print(df.describe())
df.info(verbose=True)

        Internal ID  Q12: MEDIA [Daily Dish]  Q12: MEDIA [Science]  \
count  2.460000e+03                     85.0                1362.0
mean   9.028016e+07                      1.0                   1.0
std    7.435532e+03                      0.0                   0.0
min    9.025877e+07                      1.0                   1.0
25%    9.027520e+07                      1.0                   1.0
50%    9.027780e+07                      1.0                   1.0
75%    9.028242e+07                      1.0                   1.0
max    9.031480e+07                      1.0                   1.0

       Q12: MEDIA [ESPN]  Q12: MEDIA [Yahoo]
count               99.0                67.0
mean                 1.0                 1.0
std                  0.0                 0.0
min                  1.0                 1.0
25%                  1.0                 1.0
50%                  1.0                 1.0
75%                  1.0                 1.0
max                  1.0                 1.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 120 columns):
 #    Column                                                                                 Dtype
---   ------                                                                                 -----
 0    Internal ID                                                                            int64
 1    Q1: GOING OUT?                                                                         object
 2    Q2: GENDER                                                                             object
 3    Q3: AGE                                                                                object
 4    Q4: COUNTRY                                                                            object
 5    Q5: STATE, PROVINCE, COUNTY, ETC                                                       object
 6    Q6 | 100 Grand Bar                                                                     object
 7    Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes)  object
 8    Q6 | Any full-sized candy bar                                                          object
 9    Q6 | Black Jacks                                                                       object
 10   Q6 | Bonkers (the candy)                                                               object
 11   Q6 | Bonkers (the board game)                                                          object
 12   Q6 | Bottle Caps                                                                       object
 13   Q6 | Box'o'Raisins                                                                     object
 14   Q6 | Broken glow stick                                                                 object
 15   Q6 | Butterfinger                                                                      object
 16   Q6 | Cadbury Creme Eggs                                                                object
 17   Q6 | Candy Corn                                                                        object
 18   Q6 | Candy that is clearly just the stuff given out for free at restaurants            object
 19   Q6 | Caramellos                                                                        object
 20   Q6 | Cash, or other forms of legal tender                                              object
 21   Q6 | Chardonnay                                                                        object
 22   Q6 | Chick-o-Sticks (we don’t know what that is)                                       object
 23   Q6 | Chiclets                                                                          object
 24   Q6 | Coffee Crisp                                                                      object
 25   Q6 | Creepy Religious comics/Chick Tracts                                              object
 26   Q6 | Dental paraphenalia                                                               object
 27   Q6 | Dots                                                                              object
 28   Q6 | Dove Bars                                                                         object
 29   Q6 | Fuzzy Peaches                                                                     object
 30   Q6 | Generic Brand Acetaminophen                                                       object
 31   Q6 | Glow sticks                                                                       object
 32   Q6 | Goo Goo Clusters                                                                  object
 33   Q6 | Good N' Plenty                                                                    object
 34   Q6 | Gum from baseball cards                                                           object
 35   Q6 | Gummy Bears straight up                                                           object
 36   Q6 | Hard Candy                                                                        object
 37   Q6 | Healthy Fruit                                                                     object
 38   Q6 | Heath Bar                                                                         object
 39   Q6 | Hershey's Dark Chocolate                                                          object
 40   Q6 | Hershey’s Milk Chocolate                                                          object
 41   Q6 | Hershey's Kisses                                                                  object
 42   Q6 | Hugs (actual physical hugs)                                                       object
 43   Q6 | Jolly Rancher (bad flavor)                                                        object
 44   Q6 | Jolly Ranchers (good flavor)                                                      object
 45   Q6 | JoyJoy (Mit Iodine!)                                                              object
 46   Q6 | Junior Mints                                                                      object
 47   Q6 | Senior Mints                                                                      object
 48   Q6 | Kale smoothie                                                                     object
 49   Q6 | Kinder Happy Hippo                                                                object
 50   Q6 | Kit Kat                                                                           object
 51   Q6 | LaffyTaffy                                                                        object
 52   Q6 | LemonHeads                                                                        object
 53   Q6 | Licorice (not black)                                                              object
 54   Q6 | Licorice (yes black)                                                              object
 55   Q6 | Lindt Truffle                                                                     object
 56   Q6 | Lollipops                                                                         object
 57   Q6 | Mars                                                                              object
 58   Q6 | Maynards                                                                          object
 59   Q6 | Mike and Ike                                                                      object
 60   Q6 | Milk Duds                                                                         object
 61   Q6 | Milky Way                                                                         object
 62   Q6 | Regular M&Ms                                                                      object
 63   Q6 | Peanut M&M’s                                                                      object
 64   Q6 | Blue M&M's                                                                        object
 65   Q6 | Red M&M's                                                                         object
 66   Q6 | Green Party M&M's                                                                 object
 67   Q6 | Independent M&M's                                                                 object
 68   Q6 | Abstained from M&M'ing.                                                           object
 69   Q6 | Minibags of chips                                                                 object
 70   Q6 | Mint Kisses                                                                       object
 71   Q6 | Mint Juleps                                                                       object
 72   Q6 | Mr. Goodbar                                                                       object
 73   Q6 | Necco Wafers                                                                      object
 74   Q6 | Nerds                                                                             object
 75   Q6 | Nestle Crunch                                                                     object
 76   Q6 | Now'n'Laters                                                                      object
 77   Q6 | Peeps                                                                             object
 78   Q6 | Pencils                                                                           object
 79   Q6 | Pixy Stix                                                                         object
 80   Q6 | Real Housewives of Orange County Season 9 Blue-Ray                                object
 81   Q6 | Reese’s Peanut Butter Cups                                                        object
 82   Q6 | Reese's Pieces                                                                    object
 83   Q6 | Reggie Jackson Bar                                                                object
 84   Q6 | Rolos                                                                             object
 85   Q6 | Sandwich-sized bags filled with BooBerry Crunch                                   object
 86   Q6 | Skittles                                                                          object
 87   Q6 | Smarties (American)                                                               object
 88   Q6 | Smarties (Commonwealth)                                                           object
 89   Q6 | Snickers                                                                          object
 90   Q6 | Sourpatch Kids (i.e. abominations of nature)                                      object
 91   Q6 | Spotted Dick                                                                      object
 92   Q6 | Starburst                                                                         object
 93   Q6 | Sweet Tarts                                                                       object
 94   Q6 | Swedish Fish                                                                      object
 95   Q6 | Sweetums (a friend to diabetes)                                                   object
 96   Q6 | Take 5                                                                            object
 97   Q6 | Tic Tacs                                                                          object
 98   Q6 | Those odd marshmallow circus peanut things                                        object
 99   Q6 | Three Musketeers                                                                  object
 100  Q6 | Tolberone something or other                                                      object
 101  Q6 | Trail Mix                                                                         object
 102  Q6 | Twix                                                                              object
 103  Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein            object
 104  Q6 | Vicodin                                                                           object
 105  Q6 | Whatchamacallit Bars                                                              object
 106  Q6 | White Bread                                                                       object
 107  Q6 | Whole Wheat anything                                                              object
 108  Q6 | York Peppermint Patties                                                           object
 109  Q7: JOY OTHER                                                                          object
 110  Q8: DESPAIR OTHER                                                                      object
 111  Q9: OTHER COMMENTS                                                                     object
 112  Q10: DRESS                                                                             object
 113  Unnamed: 113                                                                           object
 114  Q11: DAY                                                                               object
 115  Q12: MEDIA [Daily Dish]                                                                float64
 116  Q12: MEDIA [Science]                                                                   float64
 117  Q12: MEDIA [ESPN]                                                                      float64
 118  Q12: MEDIA [Yahoo]                                                                     float64
 119  Click Coordinates (x, y)                                                               object
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

In [494]:
# RangeIndex: 2460 entries, 0 to 2459
# Columns: 120 entries, Internal ID to Click Coordinates (x, y) some columns will be droped 
# dtypes: float64(4), int64(1), object(115)

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [495]:
df.drop(['Internal ID' ,'Q7: JOY OTHER', 'Q8: DESPAIR OTHER' ,'Unnamed: 113' , 'Q12: MEDIA [Daily Dish]' 
         , 'Q12: MEDIA [ESPN]' , 'Q12: MEDIA [Yahoo]' , 'Q12: MEDIA [Science]' 
         ,'Click Coordinates (x, y)' , 'Q9: OTHER COMMENTS'  ] ,axis = 1, inplace=True)

In [496]:
for col in df.columns:
    new_col_name = col.replace('Q6 | ','')
    df.rename(columns={col : new_col_name}, inplace=True)
df.rename(columns={'Q1: GOING OUT?':'GOING OUT','Q2: GENDER':'GENDER','Q3: AGE':'AGE','Q4: COUNTRY':'COUNTRY',
                   'Q5: STATE, PROVINCE, COUNTY, ETC':'AREA','Q10: DRESS':'DRESS',
                   'Q11: DAY':'DAY'},inplace=True)
df.columns = df.columns.str.lower().str.replace(" " , "_")
df.columns

Index(['going_out', 'gender', 'age', 'country', 'area', '100_grand_bar',
       'anonymous_brown_globs_that_come_in_black_and_orange_wrappers\t(a.k.a._mary_janes)',
       'any_full-sized_candy_bar', 'black_jacks', 'bonkers_(the_candy)',
       ...
       'trail_mix', 'twix',
       'vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein',
       'vicodin', 'whatchamacallit_bars', 'white_bread',
       'whole_wheat_anything', 'york_peppermint_patties', 'dress', 'day'],
      dtype='object', length=110)

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [497]:
# print(df['going_out'].unique())
# print(df['going_out'].value_counts())
# print(df['going_out'].isna().sum())

df['going_out'] = df['going_out'].fillna(df['going_out'].mode()[0]).astype("category")

# print(df['going_out'].unique())
# df['going_out'].value_counts()

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [498]:
# print('Before')
# print(df['gender'].unique())
# print(df['gender'].value_counts())
# print(df['gender'].isna().sum())

df['gender'] = df['gender'].str.lower().str.strip()
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])

# print('After')
# print(df['gender'].unique())
# df['gender'].value_counts()

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [499]:
df['age'] = pd.to_numeric(df['age'] , errors='coerce')
df.loc[(df['age'] < 2) | (df['age'] > 100), 'age'] = np.nan
df['age'] = df['age'].fillna(df['age'].median()).astype('int')

df['age'].unique()

array([ 41,  44,  49,  40,  23,  53,  33,  43,  56,  64,  37,  59,  48,
        54,  36,  45,  25,  34,  35,  38,  58,  50,  47,  16,  52,  63,
        65,  27,  31,  61,  46,  42,  62,  29,  39,  32,  28,  69,  67,
        30,  22,  26,  51,  70,  24,  18,  19,  57,  60,  66,  12,  55,
        72,  21,  11,   9,  68,  20,   6,  10,  71,  90,  13,  99,   7,
        88,  74,  17,  15,   8,  75,  14, 100,  76,  77,  73,   4])

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [500]:
from thefuzz import process
fix = {

    'united states': 'usa',
    'united staes': 'usa',
    'united stated': 'usa',
    'united sates': 'usa',
    'united ststes': 'usa',
    'unites states': 'usa',
    'unied states': 'usa',
    'united statss': 'usa',
    'the united states': 'usa',
    'u.s.a.': 'usa',
    'u s a': 'usa',
    'u.s.': 'usa',
    'u s': 'usa',
    'us of a': 'usa',
    'america': 'usa',
    'murica': 'usa',
    'murrika': 'usa',
    "'merica": 'usa',
    'trumpistan': 'usa', 
    'unhinged states': 'usa',
    'insanity lately': 'usa',
    'usa? hard to tell anymore..': 'usa',
    'ahem....amerca': 'usa',
    'united statea' : 'usa',
    
    # Specific US Locations to USA
    'new york': 'usa',
    'california': 'usa',
    'north carolina': 'usa',
    'pittsburgh': 'usa',
    'new jersey': 'usa',
    'alaska': 'usa',
    'cascadia': 'usa', 

    # UK Variations
    'uk': 'united kingdom',
    'u.k.': 'united kingdom',
    'england': 'united kingdom',
    'scotland': 'united kingdom',
    'endland': 'united kingdom',

    # Canada Variations
    'soviet canuckistan': 'canada',
    'canae': 'canada',
    'n. america': 'canada', 

    # Other
    'subscribe to dm4uz3 on youtube': np.nan,
    "i don't know anymore": np.nan,
    'earth': np.nan,
    'atlantis': np.nan,
    'narnia': np.nan,
    'fear and loathing': np.nan,
    'europe': np.nan,  
    '': np.nan
}
df['country'] = df['country'].str.lower().str.strip()
df['country'] = df['country'].replace(fix)

countries = [
    'usa', 'canada', 'united kingdom', 'france', 'germany', 'mexico', 
    'uae', 'finland', 'netherlands', 'australia', 'greece', 'south korea', 
    'japan', 'south africa', 'costa rica', 'denmark', 'switzerland', 
    'indonesia', 'singapore', 'china', 'taiwan', 'hong kong', 
    'spain', 'sweden', 'ireland',
]

for country_bad in df['country'].unique():
    if pd.notna(country_bad) and isinstance(country_bad, str) and country_bad not in countries: 
        match, score = process.extractOne(country_bad, countries)
        if score > 80:
            df.loc[df['country'] == country_bad, 'country'] = match
df['country'] = df['country'].fillna(df['country'].mode()[0]).astype('category')

df['country'].unique()

['usa', 'canada', 'united kingdom', 'uae', 'mexico', ..., 'china', 'taiwan', 'hong kong', 'spain', 'sweden']
Length: 28
Categories (28, object): ['australia', 'canada', 'china', 'costa rica', ..., 'unite states', 'united kingdom', 'united state', 'usa']

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [501]:
df['area'] = df['area'].str.lower().str.strip()
df['area'] = df['area'].str.replace(r'.*,\s*', '', regex=True)

fix2 = {
    'al': 'alabama', 'ak': 'alaska', 'az': 'arizona', 'ar': 'arkansas', 'ca': 'california', 
    'co': 'colorado', 'ct': 'connecticut', 'de': 'delaware', 'fl': 'florida', 'ga': 'georgia', 
    'hi': 'hawaii', 'id': 'idaho', 'il': 'illinois', 'in': 'indiana', 'ia': 'iowa', 
    'ks': 'kansas', 'ky': 'kentucky', 'la': 'louisiana', 'me': 'maine', 'md': 'maryland', 
    'ma': 'massachusetts', 'mi': 'michigan', 'mn': 'minnesota', 'ms': 'mississippi', 'mo': 'missouri', 
    'mt': 'montana', 'ne': 'nebraska', 'nv': 'nevada', 'nh': 'new hampshire', 'nj': 'new jersey', 
    'nm': 'new mexico', 'ny': 'new york', 'nc': 'north carolina', 'nd': 'north dakota', 'oh': 'ohio', 
    'ok': 'oklahoma', 'or': 'oregon', 'pa': 'pennsylvania', 'ri': 'rhode island', 'sc': 'south carolina', 
    'sd': 'south dakota', 'tn': 'tennessee', 'tx': 'texas', 'ut': 'utah', 'vt': 'vermont', 
    'va': 'virginia', 'wa': 'washington', 'wv': 'west virginia', 'wi': 'wisconsin', 'wy': 'wyoming',
    'dc': 'district of columbia', 'bc': 'british columbia', 'on': 'ontario', 'qc': 'quebec',
    'ab': 'alberta', 'mb': 'manitoba', 'sk': 'saskatchewan', 'ns': 'nova scotia', 
    'nb': 'new brunswick', 'nl': 'newfoundland', 'pe': 'prince edward island', 'nt': 'northwest territories',
    'yt': 'yukon', 'nu': 'nunavut'
}

df['area'] = df['area'].replace(fix2)

states = [
    # US States
    'alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado',
    'connecticut', 'delaware', 'florida', 'georgia', 'hawaii', 'idaho',
    'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana',
    'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota',
    'mississippi', 'missouri', 'montana', 'nebraska', 'nevada',
    'new hampshire', 'new jersey', 'new mexico', 'new york',
    'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
    'pennsylvania', 'rhode island', 'south carolina', 'south dakota',
    'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington',
    'west virginia', 'wisconsin', 'wyoming', 'district of columbia',
    
    # Canadian Provinces
    'ontario', 'quebec', 'british columbia', 'alberta', 'manitoba',
    'saskatchewan', 'nova scotia', 'new brunswick', 'newfoundland',
    'prince edward island', 'northwest territories', 'yukon', 'nunavut'
]

for state_bad in df['area'].unique():
    if pd.notna(state_bad) and isinstance(state_bad, str) and state_bad not in states:     
        match, score = process.extractOne(state_bad, states)
        if score > 80:
            df.loc[df['area'] == state_bad, 'area'] = match
df['area'] = df['area'].fillna(df['area'].mode()[0])
print(df['area'].unique())
print(df['area'].value_counts()[:15])

# Another approach i can drop that column since i already have the countries.
# Or we can focus only on the american states and categorize all other entries as ‘Others.’”

['california' 'new mexico' 'virginia' 'oregon' 'exton pa' 'colorado'
 'ontario' 'washington' 'quebec' 'new york' 'texas' 'indiana' 'minnesota'
 'aberdeenshire' 'alberta' '53705' 'rhode island' 'north carolina'
 'scotland' 'michigan' 'florida' 'new jersey' 'illinois' 'wisconsin'
 'london' 'district of columbia' 'massachusetts' 'montana' 'abu dhabi'
 'arizona' 'yukon' 'pennsylvania' 'maryland' 'ohio' 'oxfordshire' 'iowa'
 'tennessee' 'british columbia' 'alaska' 'jefferson county' 'louisiana'
 'larimer county' 'nebraska' 'utah' 'cdmx' 'maine' 'arlington' 'missouri'
 'new hampshire' 'georgia' 'clark' 'oklahoma' 'south carolina' 'nevada'
 'king' 'chittenden' 'alabama' 'orange county' 'nope' 'manitoba'
 'north dakota' 'montgomery county' 'astoria ny' 'kansas' 'saskatchewan'
 'west virginia' 'usa' 'philadelphia' 'kentucky' 'hawaii' 'south holland'
 'derbyshire' 'hesse' 'plymouth county' 'vermont' 'alameda'
 'shiawassee county' 'newfoundland' 'idaho' 'america' 'sub earth'
 'greater london' 'kanawha county' 'sussex' 'king county' 'san jose'
 'connecticut' 'mississippi' 'manchester' 'cascadia' 'sydney'
 'oblivion if things keep going this way' 'canada' 'merlin' 'nova scotia'
 'kitsap county' 'pittsburgh pa' 'marne' 'noord-holland' 'knox county'
 'city of seattle' 'nyc' 'brooklyn' 'qld' 'boulder' 'greater manchester'
 'gloucester' 'new brunswick' 'queens' 'kildare' 'cook' 'victoria'
 'tehama' 'suffolk county ny' 'south dakota' 'tokyo' 'kings county ny'
 'prince edward island' 'kwazulu-natal' 'dutchess county ny' 'wyoming'
 'bristol' 'san francisco' 'edinburgh' 'strathclyde' 'lancasire' 'ørbæk'
 'pr' 'idf' 'zuid holland' 'osaka' 'surrey' 'northern ireland' 'vaud'
 'see question 2' 'midlothian' 'miller county' 'glasgow' 'seoul'
 'kanagawa' 'the shore' 'devonshire' 'tx.' 'jakarta' 'baden-württemberg'
 '|nc' 'rotterdam' 'arkansas' 'n-brabant' 'greifswald' 'hessen' 'noyb'
 'petrolia' 'spokane' 'san diego' 'ventura county' 'tompkins county'
 'mexico city' 'multnomah county' 'singapore' 'united states' 'salt lake'
 'pleasant hill' 'chang ning district' 'monroe county' 'hong kong'
 'dublin' 'mendocino county' 'madrid' 'noord-brabant' 'skane' 'zürich'
 'nj; essex' 'delaware' 'munster' 'philadelphia pa' 'stockholm' 'chicago'
 'west yorkshire' 'berlin' 'ur mom' 'matanuska-susitna borough'
 'pa.   northampton county' 'san diego county' 'londom' 'easton'
 'st louis mo' 'psychotic']
area
california          417
new york            121
washington          118
illinois            109
texas                95
massachusetts        93
pennsylvania         90
oregon               86
ontario              85
virginia             71
minnesota            63
british columbia     60
ohio                 57
colorado             52
michigan             51
Name: count, dtype: int64

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [502]:
column = df.columns[5:-2]
for col in column:
    df[col] = df[col].str.lower().str.strip()
    df[col] = df[col].fillna("meh" )
    # print(df[col].unique())

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [503]:
df['dress'] = df['dress'].fillna(df['dress'].mode()[0]).astype('category')
print(df['dress'].value_counts())

df['dress'].unique()

dress
White and gold    1825
Blue and black     635
Name: count, dtype: int64

['White and gold', 'Blue and black']
Categories (2, object): ['Blue and black', 'White and gold']

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [504]:
df['day'] = df['day'].fillna(df['day'].mode()[0]).astype('category')

print(df['day'].value_counts())
print(df['day'].isna().sum())
df['day'].unique()

day
Friday    1816
Sunday     644
Name: count, dtype: int64
0

['Friday', 'Sunday']
Categories (2, object): ['Friday', 'Sunday']

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

In [505]:
df.info(verbose=True)
df.isna().sum().sort_values(ascending = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 110 columns):
 #    Column                                                                            Dtype
---   ------                                                                            -----
 0    going_out                                                                         category
 1    gender                                                                            object
 2    age                                                                               int64
 3    country                                                                           category
 4    area                                                                              object
 5    100_grand_bar                                                                     object
 6    anonymous_brown_globs_that_come_in_black_and_orange_wrappers	(a.k.a._mary_janes)  object
 7    any_full-sized_candy_bar                                                          object
 8    black_jacks                                                                       object
 9    bonkers_(the_candy)                                                               object
 10   bonkers_(the_board_game)                                                          object
 11   bottle_caps                                                                       object
 12   box'o'raisins                                                                     object
 13   broken_glow_stick                                                                 object
 14   butterfinger                                                                      object
 15   cadbury_creme_eggs                                                                object
 16   candy_corn                                                                        object
 17   candy_that_is_clearly_just_the_stuff_given_out_for_free_at_restaurants            object
 18   caramellos                                                                        object
 19   cash,_or_other_forms_of_legal_tender                                              object
 20   chardonnay                                                                        object
 21   chick-o-sticks_(we_don’t_know_what_that_is)                                       object
 22   chiclets                                                                          object
 23   coffee_crisp                                                                      object
 24   creepy_religious_comics/chick_tracts                                              object
 25   dental_paraphenalia                                                               object
 26   dots                                                                              object
 27   dove_bars                                                                         object
 28   fuzzy_peaches                                                                     object
 29   generic_brand_acetaminophen                                                       object
 30   glow_sticks                                                                       object
 31   goo_goo_clusters                                                                  object
 32   good_n'_plenty                                                                    object
 33   gum_from_baseball_cards                                                           object
 34   gummy_bears_straight_up                                                           object
 35   hard_candy                                                                        object
 36   healthy_fruit                                                                     object
 37   heath_bar                                                                         object
 38   hershey's_dark_chocolate                                                          object
 39   hershey’s_milk_chocolate                                                          object
 40   hershey's_kisses                                                                  object
 41   hugs_(actual_physical_hugs)                                                       object
 42   jolly_rancher_(bad_flavor)                                                        object
 43   jolly_ranchers_(good_flavor)                                                      object
 44   joyjoy_(mit_iodine!)                                                              object
 45   junior_mints                                                                      object
 46   senior_mints                                                                      object
 47   kale_smoothie                                                                     object
 48   kinder_happy_hippo                                                                object
 49   kit_kat                                                                           object
 50   laffytaffy                                                                        object
 51   lemonheads                                                                        object
 52   licorice_(not_black)                                                              object
 53   licorice_(yes_black)                                                              object
 54   lindt_truffle                                                                     object
 55   lollipops                                                                         object
 56   mars                                                                              object
 57   maynards                                                                          object
 58   mike_and_ike                                                                      object
 59   milk_duds                                                                         object
 60   milky_way                                                                         object
 61   regular_m&ms                                                                      object
 62   peanut_m&m’s                                                                      object
 63   blue_m&m's                                                                        object
 64   red_m&m's                                                                         object
 65   green_party_m&m's                                                                 object
 66   independent_m&m's                                                                 object
 67   abstained_from_m&m'ing.                                                           object
 68   minibags_of_chips                                                                 object
 69   mint_kisses                                                                       object
 70   mint_juleps                                                                       object
 71   mr._goodbar                                                                       object
 72   necco_wafers                                                                      object
 73   nerds                                                                             object
 74   nestle_crunch                                                                     object
 75   now'n'laters                                                                      object
 76   peeps                                                                             object
 77   pencils                                                                           object
 78   pixy_stix                                                                         object
 79   real_housewives_of_orange_county_season_9_blue-ray                                object
 80   reese’s_peanut_butter_cups                                                        object
 81   reese's_pieces                                                                    object
 82   reggie_jackson_bar                                                                object
 83   rolos                                                                             object
 84   sandwich-sized_bags_filled_with_booberry_crunch                                   object
 85   skittles                                                                          object
 86   smarties_(american)                                                               object
 87   smarties_(commonwealth)                                                           object
 88   snickers                                                                          object
 89   sourpatch_kids_(i.e._abominations_of_nature)                                      object
 90   spotted_dick                                                                      object
 91   starburst                                                                         object
 92   sweet_tarts                                                                       object
 93   swedish_fish                                                                      object
 94   sweetums_(a_friend_to_diabetes)                                                   object
 95   take_5                                                                            object
 96   tic_tacs                                                                          object
 97   those_odd_marshmallow_circus_peanut_things                                        object
 98   three_musketeers                                                                  object
 99   tolberone_something_or_other                                                      object
 100  trail_mix                                                                         object
 101  twix                                                                              object
 102  vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein            object
 103  vicodin                                                                           object
 104  whatchamacallit_bars                                                              object
 105  white_bread                                                                       object
 106  whole_wheat_anything                                                              object
 107  york_peppermint_patties                                                           object
 108  dress                                                                             category
 109  day                                                                               category
dtypes: category(4), int64(1), object(105)
memory usage: 2.0+ MB

going_out                  0
gender                     0
age                        0
country                    0
area                       0
                          ..
white_bread                0
whole_wheat_anything       0
york_peppermint_patties    0
dress                      0
day                        0
Length: 110, dtype: int64

### 14 - write a summary about all the cleaning steps

In [ ]:
df.to_csv('candy_cleaned.csv')


# Data Cleaning Summary:

# Dropped Columns 
# Internal ID, Q7: JOY OTHER, Q8: DESPAIR OTHER, Q9: OTHER COMMENT, unnamed 113, Q12 Media columns (4), Click Coordinates
# Reason too many nan 

# We renamed all Columns 

# Going Out Column
# Filled nan with mode "no"
# Convert the data type to category 

# Gender Column
# Filled nan with mode "male"
# Convert the data type to category

# Age Column
# Converted to numeric using pd.to_numeric()
# Removed outliers = np.nan 
# Filled nan with median (41)

# Country Column
# Used manual dictionary for abbreviations
# Applied fuzzy matching 
# Filled nan with mode 'usa'

# Area Column
# Removed city prefixes using regex: r'.*,\s*'
# Mapped state abbreviations
# Applied fuzzy matching 

# Q6 Candy Columns 
# Filled nan with 'meh' 

# Dress Column
# Filled nan with mode: 'White and gold'
# Convert the data type to category 

# Day Column
# Filled nan with mode 'Friday'
# Convert the data type to category